body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #688A08;
}

.quem-somos {
    background-color: #4f76e4d3;
    color: white;
}

.margin {
    padding: 20px 0;
}

.parceiros {
    background-color: #BDBDBD;
}

.bg-footer {
    background-color: black;
    color: white;
}